@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Arad';
    src: url(./Arad-VF.ttf) format("truetype"), url(./Arad-VF.woff2) format("woff2");
    font-weight: normal;
    font-style: normal;
}
}

@layer components {
  body{
    @apply bg-orange-50 w-screen font-body
  }
}